@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Başlık ve Hoş Geldiniz -->
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="display-4">Eğitim Kayıt Takip Sistemi Girişi</h1>
            <p class="lead">Eğitim Kayıt Sistemi</p>
        </div>
    </div>
</div>
    

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
